body {
    /* background-color: #ce1313; 
    margin: 0;
    padding: 0;
    background-image: url('v2.jpeg');
    background-repeat: repeat-y;
    background-position: top right 40px; */

    /* background :url(bg.png) no-repeat  top left;
    background-size: cover; */

    font-size: 40 px;
    font-family:Arial, Helvetica, sans-serif;

}
html,*{


}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50 px;
    font-weight: 700;
    font-style:italic;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow:3px 0px 10px  #000 ;
    clear: left;
    /* display: inline-block; */
}
#para{
    color:chartreuse;
}
img{ 
    float:left;
    margin-right: 20px;
    border: 10 px solid #eb0d0d;
    border-radius: 50%;
}

